<header>
   <%= image_tag("logo.png", :alt => "ADLYST LOGO" ,:class => "rounded")%>
  <nav>
    <ul>
      <li><%= link_to("Home", '#')%></li>
      <li><%= link_to("Help", '#')%></li>
      <li><%= link_to("Sign In", '#')%></li>
    </ul>
  </nav>
</header>